html {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
}

.filter-container {
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A46770;
    max-width: 530px;
    padding: 70px 40px 40px 40px;
    margin: 0 auto;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 493px;
    margin-bottom: 12px;
}

.search-input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid #BEBEBE;
    padding-left: 25px;
    width: 493px;
    height: 43px;
}

.search-input-filter-button {
    position: absolute;
    right: 23%;
    top: 9.3%;
    cursor: pointer;
}

.active-filters {
    display: flex;
    flex-direction: row;
    width: 493px;
}

.active-filters-clear {
    display: flex;
}

.active-filters-clear-btn {
    display: flex;
    align-items: center;

    background-color: #A46770;
    border: 0;
    cursor: pointer;
}

.dropdown-boxes {
    display: flex;
    flex-direction: column;
    width: 493px;
    justify-content: space-between;
}



.hidden {
    display: none;
}
