html {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

.filter-container {
    width: 600px;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A46770;
    padding: 70px 40px 40px 40px;
    margin: 0 auto;
}

.search-bar {
    position: relative;
    display: inline-block;
    width: 493px;
    margin-bottom: 12px;
}

#search-input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 25px;
    padding-left: 10px;
    border: 2px solid #BEBEBE;
    width: 477px;
    height: 39px;
}

.search-input-filter-button {
    position: absolute;
    right: 7px;
    top: 5px;
    cursor: pointer;
}


.active-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 493px;
    margin-bottom: 20px;
}

.active-filters-clear {
    display: flex;
    margin-right: 5px;
}

.active-filters-clear-btn {
    display: flex;
    align-items: center;
    background-color: #A46770;
    border: 0;
    cursor: pointer;
    margin-bottom: 10px;

    span {
        color: #FFFFFF;
        margin-left: 4px;
    }
}

.filter-tag-btn {
    display: flex;
    align-items: center;
    gap: 7px;
    border: 0;
    border-radius: 25px;
    margin-right: 10px;
    padding-left: 9px;
    width: auto;
    height: 28px;

    img {
        cursor: pointer;
    }
}


.range_container {
    width: 493px;

    p {
        color: #FFFFFF;
    }
}

#sliders-control {
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 0 solid;
    cursor: pointer;
    position: relative;
}

#fromSlider {
    width: 493px;
    background-color: #47292D;
    -webkit-appearance: none;
    height: 7px;
    border-radius: 5px;
    position: relative;
}

#toSlider {
    position: relative;
    top: -16px;
    right: -150px;
    width: 230px;
    -webkit-appearance: none;
    height: 7px;
    border-radius: 5px;
    direction: rtl;
}

#range-text {
    display: flex;

    p {
        margin-top: -8px;
        margin-left: 135px;
        margin-right: 35px;
    }
}


.dish-type {
    display: flex;
    flex-direction: column;
    width: 493px;

    p {
        color: #ffffff;
    }
}


.dish-type-btn {
    border-radius: 20px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.dish-type-btn-active {
    border-radius: 20px;
    border: 1px solid white;
    padding: 8px 15px;
    color: white;
    background-color: #75343D;
}


.preparation-options {
    width: 493px;
    justify-content: space-between;

    p {
        color: white;
    }
}

.prep-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#prep-btn1 {
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 13px;
}

#prep-btn2 {
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 13px;
    margin-left: auto;
}

.dropdown-boxes {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 493px;
}

.box-toggle1 {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding-left: 15px;
    text-align: left;
    font-size: 13px;
    font-weight: lighter;
    background-color: white;
}

.box-toggle2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: left;
    font-size: 13px;
    font-weight: lighter;
    background-color: white;
}

.allergen {
    background-color: white;
    height: 30px;
    padding-left: 8px;
    margin-right: 15px;
    border: 1px solid rgba(117, 52, 61, 1);
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
}

.allergen-box {
    background-color: white;
    border-radius: 20px;
}

#arrow-toggle-0\ hidden {
    transform: scaleY(-1);
    position: relative;
    left: 460px;
    bottom: 37px;
}

.dropdown-arrow {
    position: relative;
    left: 392px;
}

.dropdown-arrow2 {
    margin-right: 7px;
}

.box1-content {
    padding-left: 10px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.allergen.selected {
    background: #75343D;
    color: white;
}

.show-recipe-button {
    position: relative;
    left: 372px;
    margin-top: 30px;
    appearance: none;
    border-radius: 20px;
    border: 0;
    color: white;
    background-color: #4B171E;
    padding: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.recipe-search-results {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    padding: 25px;
    background-color: #F9F3ED;
}

.recipe-search-results[hidden] {
    display: none !important;
}

#sort-button {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 10px;
    width: 85px;
    border-radius: 16px;
    background-color: #A46770;
    cursor: pointer;
}

.recipe-group {
    width: 583px;
}

#total-sort {
    display: flex;
    flex-direction: row;
    gap: 320px;

    span {
        margin-left: 8px;
        font-weight: 600;
        font-size: 16px;
    }

    img {
        position: relative;
        margin-left: 3px;
        bottom: 2px;
        filter: invert(1);
    }
}


.recipe-group h2 {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 8px;
}

.recipe-card {
    width: 470px;

    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.recipe-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.recipe-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.recipe-title h3 {
    color: #4B171E;
    font-size: 12px;
    font-weight: 700;
}

.recipe-info p {
    font-size: 12px;
    font-weight: 500;
    color: #4B171E;
}

.recipe-tags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    position: relative;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 10px;
}

.veg-icon {
    position: relative;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 10px;
}

.prep-tag {
    border: none;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 100%;
    max-width: 115px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}

.prep-tag.blue {
    background-color: #606B92;
}

.prep-tag.green {
    background-color: #7a8763;
}

.scroll1 {
    position: absolute;
    right: 25px;
    top: 370px;
}

.scroll2 {
    top: 110px;
    right: 10px;
    position: absolute;
    cursor: pointer;
}